@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form
        action="/api/oauth2/login" method="post">
        <table>
            <tr>
                <td>Username: </td>
                <td>
                    <input type="text" name="username"/>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" name="password"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" name="client_id" value="@ViewData["ClientId"]"/>
                    <input type="hidden" name="redirect_uri" value="@ViewData["RedirectUri"]"/>
                    <input type="hidden" name="response_type" value="@ViewData["ResponseType"]"/>
                    <button type="submit">Log In</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>